*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.section{
    padding: 4rem 0 2rem;
}
.container{
    padding-left:1.5rem;
    padding-right: 1.5rem;
}
.icon{
    font-size: 2rem;
    cursor: pointer;
}
.flex{
    display: flex;
    align-items: center;
}
.grid{
    display: grid;
    align-items: center;
}
.btn{
    padding: .6rem 1.5rem;
    background: rgb(210, 126, 24);
    border-radius: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn a{
    color: rgb(219, 229, 237);
    font-weight: 500;
}
.btn:hover{
    background: plum;

}
img,video{
    width: 100%;
    height: auto;
}
input{
    font-size: 100%;
}
body{
    background-color: rgb(200, 218, 219);
}